body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-color:white;
}

.header{
    width: 100%;
    background: orange;
    height: 100px;
    float: left;
}

.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
    height:150px ;
}  