body {
    overflow: hidden;
    margin: 0;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*splash screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color:black;
    transition: 1s;
}
.logo-header{

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;

}
.logo{
    position: relative;
    display: inline-block;
    bottom:-20px;
    opacity: 0;

}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;   
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;   


}
/*header section*/
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 .navigation { 
    align-items: center;
    background-color:#555; /*glass */
    display: flex;
    height: 100px;
    padding: 0 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    width: 100%;
}   


.navigation > h3 {
    font-size: 30px;
}
.header-right{
    
    float: left;

}
.menu-text1:hover{
    color:red;
  }
  .menu-text2:hover{
    color:red;
  }
  .menu-text1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  color: white;
  margin-left: 100px;
  margin-top:550px ;
  padding-left: 0px;

 }
 .menu-text2{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 25px;
  }
  
  
  

 #myVideo {

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;

  }

 /*Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background-color: rgba(134, 172, 218, 0.8);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
 
/*heading section*/
.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 60%;
  left: 50%;
  color:white;

  transform: translate(-50%, -50%);
}
.heading.heaingone{
  font-size: 10rem;
  letter-spacing: 1rem;

}
